{% url 'home' as home_url %}
{% url 'contact' as contact_url %}

<footer class="page-footer font-small blue" style="color: white; background-color: #000000;">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">বই কিনো</h5>
        <p>বই কিনো একটি একান্ত ব্যাক্তিগত প্রজেক্ট। </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="{{home_url}}">Home</a>
            </p>
          </li>
          <li>
            <p>
              <a href="{{contact_url}}">Contact Us</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas mr-3"></i> Dhaka, Bangladesh</p>
          </li>
          <li>
            <p>
              <i class="fas mr-3"></i>sajjadm624@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas mr-3"></i> +8801834659673</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Me</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab"> <a href="https://www.facebook.com/sajjadhossainm">Facebook</a></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">বই-কিনো</a>
  </div>


</footer>
